*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  TĚLO CELOÉHO WEBU
    */
body{
    font-family:cursive;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img//pozadi_les_drevo.jpg); */
}

header{
    height: auto;
    width: 100%;
}

.photo_header{
    display: flex;
    justify-content: space-around;
}

.photo_header img{
    width: 12vw;
}

@media(max-width: 600px) {
    .photo_header img{
        width: 100px;
    }
}

@media(max-width: 300px) {
    .photo_header img{
        display: block;
    }
}

.photo_header h1{
    font-size: clamp(16px, 2.7vw, 45px);
    position: relative;
    letter-spacing: 10px;
    text-align: center;
    color: #9c6644;
}

@media(max-width: 800px) {
    .photo_header h1{
        margin-top: 30px;
    }
}

.photo_header p{
    margin-top: 40px;
    color: #343a40;
    font-size: clamp(14px, 1.5vw, 18px);
}

@media(max-width: 800px) {
    .photo_header p{
        display: none;
    }
}
/*************************************/

/*
    MAIN
    */

main{
    text-align: center;
    margin: 2vw auto;
}

.tlacitko_zpet a{
    color: #fff;
    font-size: clamp(15px, 1.8vw, 32px);
    position: relative;
    left: 0;
    background-color: #343a40ad;
    padding: 3px 8px;
    border-radius: 0.5vw;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

@media(max-width: 600px) {
    .tlacitko_zpet {
        position: relative;
        top: 1.5vw;
        margin-bottom: 3vw;
        margin-top: 2vw;
        border-radius: 2vw;
    }
}    

.tlacitko_zpet a:hover{
    border-bottom: 2px solid #fff;
    color: #9c6644;
    background-color: #fff;
    border-bottom: 2px solid #9c6644;
}




.popis_galerie{
    margin-top: 30px;
    text-align: center;
}

.popis_galerie h1{
    color: #343a40;
    font-size: clamp(20px, 2vw, 38px);
    text-decoration: underline;
}

.popis_galerie h2{
    color: #343a40;
    font-size: clamp(15px, 1.8vw, 30px);
    border-bottom: 2px solid #fff;
}


/*************************************************/
.galerie{
    width: 100%;
    margin: 5vw auto;
}

.galerie img{
    width: 50%;
    margin: 0 auto;
}

.nadpisy{
    color: #9c6644;
    font-size: clamp(20px, 2vw, 336px);
}





.miska_1{
    border: 2px solid #000;
    width: 80%;
    margin: 2vw auto;
    border-radius: 2vw;
    box-shadow: 5px 5px 5px #9c6644;
}

.miska_1 img{
    width: 20vw;
}

.miska_1 h2{
    color: #343a40;
    font-size: clamp(18px, 2vw, 32px);
}

.miska_1 button{
    display: block;
    margin: 1vw auto;
    padding: 1vw 1.5vw;
    border-radius: 1vw;
    background-color: #9c6644;
    color: #fff;
    font-size: clamp(10px, 1.2vw, 18px);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.miska_1 button:hover{
    background-color: #fff;
    color: #000;
    border-color: #9c6644;
}

#img_1{
    cursor: pointer;
}

#img_2{
    cursor: pointer;
}
/****************************************/


.miska_2{
    border: 2px solid #000;
    width: 80%;
    margin: 2vw auto;
    border-radius: 2vw;
    box-shadow: 5px 5px 5px #9c6644;
}

.miska_2 img{
    width: 30vw;
}

.miska_2 h2{
    color: #343a40;
    font-size: clamp(18px, 2vw, 32px);
}


.miska_2 button{
    display: block;
    margin: 1vw auto;
    padding: 1vw 1.5vw;
    border-radius: 1vw;
    background-color: #9c6644;
    color: #fff;
    font-size: clamp(10px, 1.2vw, 18px);
    cursor: pointer;
    transition: background 0.7s, color 0.7s;
}

.miska_2 button:hover{
    background-color: #fff;
    color: #000;
    border-color: #9c6644;
}
/****************************************/


.miska_3{
    border: 2px solid #000;
    width: 80%;
    margin: 2vw auto;
    border-radius: 2vw;
    box-shadow: 5px 5px 5px #9c6644;

}

.miska_3 img{
    width: 30vw;
}

.miska_3 h2{
    color: #343a40;
    font-size: clamp(18px, 2vw, 32px);
}

.miska_3 button{
    display: block;
    margin: 1vw auto;
    padding: 1vw 1.5vw;
    border-radius: 1vw;
    background-color: #9c6644;
    color: #fff;
    font-size: clamp(10px, 1.2vw, 18px);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.miska_3 button:hover{
    background-color: #fff;
    color: #000;
    border-color: #9c6644;
}

/****************************************/

.miska_4{
    border: 2px solid #000;
    width: 80%;
    margin: 2vw auto;
    border-radius: 2vw;
    box-shadow: 5px 5px 5px #9c6644;
}

.miska_4 img{
    width: 30vw;
}

.miska_4 h2{
    color: #343a40;
    font-size: clamp(18px, 2vw, 32px);
}

.miska_4 button{
    display: block;
    margin: 1vw auto;
    padding: 1vw 1.5vw;
    border-radius: 1vw;
    background-color: #9c6644;
    color: #fff;
    font-size: clamp(10px, 1.2vw, 18px);
    cursor: pointer;
    transition: background 0.7s, color 0.7s;
}

.miska_4 button:hover{
    background-color: #fff;
    color: #000;
    border-color: #9c6644;
}

/****************************************/

.miska_5{
    border: 2px solid #000;
    width: 80%;
    margin: 2vw auto;
    border-radius: 2vw;
    box-shadow: 5px 5px 5px #9c6644;
}

.miska_5 img{
    width: 30vw;
}

.miska_5 h2{
    color: #343a40;
    font-size: clamp(18px, 2vw, 32px);
}

.miska_5 button{
    display: block;
    margin: 1vw auto;
    padding: 1vw 1.5vw;
    border-radius: 1vw;
    background-color: #9c6644;
    color: #fff;
    font-size: clamp(10px, 1.2vw, 18px);
    cursor: pointer;
    transition: background 0.7s, color 0.7s;
}

.miska_5 button:hover{
    background-color: #fff;
    color: #000;
    border-color: #9c6644;
}

/****************************************/


.miska_6{
    border: 2px solid #000;
    width: 80%;
    margin: 2vw auto;
    border-radius: 2vw;
    box-shadow: 5px 5px 5px #9c6644;
}

.miska_6 img{
    width: 30vw;
}

.miska_6 h2{
    color: #343a40;
    font-size: clamp(18px, 2vw, 32px);
}

.miska_6 button{
    display: block;
    margin: 1vw auto;
    padding: 1vw 1.5vw;
    border-radius: 1vw;
    background-color: #9c6644;
    color: #fff;
    font-size: clamp(10px, 1.2vw, 18px);
    cursor: pointer;
    box-shadow: 3px 3px 3px #343a40;
    transition: background 0.7s, color 0.7s;
}

.miska_6 button:hover{
    background-color: #fff;
    color: #000;
    border-color: #9c6644;
}

/****************************************/

footer{
    width: 100%;
}

.paticka{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/pozadi.jpg);
    background-size: cover;
    height: 20vh;
}

footer .paticka .soc_site li{
    width: 20vw;
    text-align: center;
    padding: 5px 10px;
    margin: 10px 15px;
}

footer .paticka .soc_site li a{
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-size: clamp(12px, 1.2vw, 18px);
    transition: background-color 0.5s, color 0.5s;
}


footer .paticka .soc_site li a:hover{
    background-color: #fff;
    color: #343a40;
    padding: 3px 10px;
    border-radius: 0.5vw;
}