*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  TĚLO CELOÉHO WEBU
    */
body{
    font-family:cursive;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img//pozadi_les_drevo.jpg);
}

header{
    height: auto;
    width: 100%;
}

.photo_header{
    display: flex;
    justify-content: space-around;
}

.photo_header img{
    width: 12vw;
}

@media(max-width: 300px) {
    .photo_header img{
        display: none;
    }
}

.photo_header h1{
    font-size: clamp(25px, 2.7vw, 45px);
    position: relative;
    letter-spacing: 10px;
    text-align: center;
    color: #fff;
}
/**-**************************************/

/*      MAIN
    */
main{
    text-align: center;
}

.tlacitko_zpet a{
    color: #fff;
    font-size: clamp(15px, 1.8vw, 32px);
    position: relative;
    left: 2vw;
    background-color: rgba(45, 208, 208, 0.621);
    padding: 2px 5px;
    border-radius: 0.5vw;
    text-decoration: none;
}

@media(max-width: 600px) {
    .tlacitko_zpet {
        position: relative;
        top: 1.5vw;
        margin-bottom: 3vw;
        margin-top: 2vw;
        border-radius: 2vw;
    }
}    

.tlacitko_zpet a:hover{
    border-bottom: 2px solid #fff;
    color: #000;
}

/*************************************/

main h1{
    color: #fff;
    font-size: clamp(20px, 2vw, 38px);
    letter-spacing: 5px;
}



main h2{
    font-size: 45px;
    color: #fff;
    background-color: #ced4da;
    color: #495057;
    margin-top: 2vw;
}



.cely_obsah{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_1{
    margin-top: 3vw;
    width: 60%;
    display: flex;
    background-color: #495057bd;
}

.section_1 h3{
    color: #ced4da;
    letter-spacing: 4px;
    margin-top: 3vw;
    font-size: clamp(18px, 2.2vw, 38px);
}

.section_2{
    width: 60%;
    display: flex;
    background-color: #495057cd;
}

.section_2 h3{
    color: #ced4da;
    letter-spacing: 4px;
    font-size: clamp(18px, 2.2vw, 38px);
}

