*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  TĚLO CELOÉHO WEBU
    */
body{
    font-family:cursive;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img//pozadi_les_drevo.jpg);
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/šedé_pozadí.jpg);
    height: auto;
    width: 100%;
}

.photo_header{
    display: flex;
    justify-content: space-around;
}

.photo_header img{
    width: 12vw;
}

@media(max-width: 300px) {
    .photo_header img{
        display: none;
    }
}

.photo_header h1{
    font-size: clamp(25px, 2.7vw, 45px);
    position: relative;
    letter-spacing: 10px;
    text-align: center;
    color: #fff;
}

/*                 MAIN                 */

.nadpis_Webu{
    text-align: center;
    font-size: clamp(18px, 2.5vw, 45px);
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-top: 2vw;
    color: #fff;
    margin-top: 5vw;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/pozadi.jpg);
}


.dropdown{
    position: relative;
    display: inline-block;
    top: 100%;
}

@media(max-width: 1920px),(min-width: 500px) {
    .dropdown{
        display: none;
    }
}

@media(max-width: 500px) {
    .dropdown{
        display: block;
    }
}

.dropdown .tlacitko_menu{
    font-size: clamp(16px, 2.2vw,36px);
}

.menu{
    display: none;
    position: absolute;
    top: 100%;
    margin: 0 auto;
    border: 2px solid #5c636a;
    border-radius: 0 0 10px 10px;
    background-color: #5c636a;
}


.menu li{
    margin: 1vw auto;
    padding: 3px 25px;
    list-style-type: none;
    transition: background-color 0.7s;
}

.menu li:hover{
    background-color: #fff;
}

.menu li a{
    font-size: clamp(12px, 2vw, 32px);
    text-align: center;
    text-align: center;
    color: #fff;
}

.menu li a:hover{
    color: #5c636a;
}

.dropdown:hover .menu{
    display: block;
}





.dropdown_2{
    display: flex;
    justify-content: space-around;
}

@media(max-width: 500px) {
    .dropdown_2{
        display: none;
    }
}

.dropdown_2 li{
    list-style-type: none;
    margin-top: 3vw;
}

.dropdown_2 li a{
    text-decoration: none;
    font-size: clamp(20px, 2.2vw, 38px);
    color: #fff;
}

.dropdown_2 li a:hover{
    text-decoration: underline 5px solid #fff;
}

.dropdown a{
    font-size: clamp(15px, 2vw, 34px);
    text-decoration: none;
    color: #fff;
}


.vnitrni_obrazek{
    display: none;
    margin-top: 5vw;
}

@media(max-width: 500px) {
    .vnitrni_obrazek{
        display: block;
    }
}

.vnitrni_obrazek img{
    width: 60%;
    position: relative;
    left: 25vw;
}




/*  SECTION_1 V MAIN
*/
.section_1{
    width: 100%;
    display: flex;
    margin: 5vw auto;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/pozadi.jpg);
}

@media(max-width: 500px){
    .section_1{
        justify-content: center;
    }
}

.section_1 img{
    width: 30%;
    height: 30%;
    position: relative;
    top: 15vw;
}

@media(max-width: 600px) {
    .section_1 img{
        display: none;
    }
}

.info_soustruzeni{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 500px){
    .info_soustruzeni{
        width: 100%;
    }
}

.info_soustruzeni h2{
    font-size: clamp(24px, 2vw, 38px);
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    text-decoration: underline 4px solid #fff;
}

.info_soustruzeni p{
    width: 60vw;
    font-size: clamp(20px, 1.5vw, 30px);
    text-align: center;
    margin: 10px auto;
    letter-spacing: 2px;
    color: #ece2d0;
}
/*  KONEC SECTION_1 V MAIN*/


/*
        GALERIE 4 FOTKY MISKY*/
.galerie{
    margin: 1vw auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/pozadi.jpg);
}

.galerie img{
    width: 25%;
}
/**********************************/


/*
        FORMULAR V MAIN
        */

.formular{
    margin: 2vw auto;
    text-align: center;
}

@media(max-width: 500px) {
    .formular{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.formular h3{
    font-size: clamp(25px, 2.5vw, 38px);
    color: #fff;
}

.formular form input{
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.formular form p{
    color: #fff;
    font-size: clamp(12px, 1.5vw, 23px);
}

.formular form textarea{
    cursor: pointer;
    text-align: center;
}

.formular input[type=file]{
    font-size: clamp(10px, 1vw, 28px);
    color: #fff;
}

.formular button {
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.7s, color 0.7s;
}

.formular button:hover{
    background-color: #8b939c86;
    color: #fff;
}

#odeslat{
    font-size: clamp(16px, 2.2vw, 38px);
    background-color: #000;
}


/******************************************/

/*
        SECTION_2 OBRAZKY MISEK
        */
.section_2{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



/*                obrazek_jedna       */
.obrazek_jedna{
    display: flex;
    align-items: center;
    background-image: url(img/pozadi.jpg);
    padding: 5px 12px;
    border-radius: 0 0 2vw 2vw;
}

.obrazek_jedna img{
    width: 50vw;
}

.obrazek_jedna p {
    color: #fff;
    font-size: clamp(14px, 1.5vw, 32px);
    text-align: center;
    text-decoration: underline 2px solid;
}

.obrazek_jedna button{
    font-size: clamp(13px, 2vw, 30px);
    padding: 5px 8px;
    border-radius: 2vw;
    background-color: #ade8f476;
    color: #fff;
    transition: background 0.7s;
}

.obrazek_jedna button:hover{
    background-color: #000;
    color: #fff;
}

#skrytBtn{
    display: block;
}

.obrazek_jedna span{
    color: aqua;
    font-size: clamp(16px, 1.5vw, 32px);
}
/*************************************/



/*          obrazek_dva       */
.obrazek_dva{
    margin-top: 2vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-image: url(img/pozadi.jpg);
    padding: 5px 12px;
    border-radius: 0 0 2vw 2vw;
}

.obrazek_dva img{
    width: 50vw;
}

.obrazek_dva p{
    color: #fff;
    font-size: clamp(14px, 1.5vw, 32px);
    text-align: center;
    text-decoration: underline 2px solid;
}

.obrazek_dva button{
    font-size: clamp(13px, 2vw, 30px);
    padding: 5px 8px;
    border-radius: 2vw;
    background-color: #ade8f476;
    color: #fff;
    transition: background 0.7s;
}

.obrazek_dva button:hover{
    background-color: #000;
    color: #fff;
}

#skrytBtn_dva{
    display: block;
}

.obrazek_dva span{
    color: aqua;
    font-size: clamp(16px, 1.5vw, 32px);
}
/****************************************/



/*                obrazek_tri            */

.obrazek_tri{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    background-image: url(img/pozadi.jpg);
    padding: 5px 12px;
    border-radius: 0 0 2vw 2vw;
}

.obrazek_tri img{
    width: 50vw;
}

.obrazek_tri p{
    color: #fff;
    font-size: clamp(14px, 1.5vw, 32px);
    text-align: center;
    text-decoration: underline 3px solid;
}
/********************************/








.footer{
    display: flex;
    align-items: end;
}

.paticka{
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/šedé_pozadí.jpg);
    background-size: cover;
    height: 20vh;
}

footer .paticka .soc_site li{
    width: 20vw;
    text-align: center;
    padding: 5px;
}

footer .paticka .soc_site li a{
    color: #fff;
    text-decoration: none;
    font-size: clamp(12px, 1.5vw, 20px);
    transition: background-color 0.5s, color 0.5s;
}

footer .paticka .soc_site li a:hover{
    background-color: #fff;
    color: #000;
    padding: 2px;
    border-radius: 0.5vw;
}